<div id='app-main'>
    <h1>Vue 3.3.4</h1>
    <div>
        <div class='d-flex'>
            <router-link class="mr-2" to="/">Home</router-link>
            <router-link class="mr-2" to="/app1">Página 1</router-link>
            <router-link class="mr-2" to="/app2">Página 2</router-link>
        </div>
        <router-view></router-view>
    </div>
</div>
